{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% load static %}
<!--Imágen de fondo-->
{% block background %}{% static 'mainapp/img/consultorio1.png' %}{% endblock %}

<!--Cabecera-->
{% block headers %}
    <h3>Registro y Nuevos Pacientes</h3>
    <span class="subheading"></span>
{% endblock %}

<!--Contenido-->
{% block content %}
<span style="float: right">
    <form action="{% url 'registrarse' %}" style="display: inline">
        <button type="submit">Registrate como usuario</button>
    </form>

    <form action="{% url 'login' %}" style="display: inline">
        <button type="submit">Ya estas registrado</button>
    </form>
</span>
{% if perms.mainapp %}
<p>Hola {{user.username}}</p>
<h4>Ingreso de un nuevo Paciente</h4>
<form action="{% url 'registro' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% for campo in formulario %}
    <div class="form-group">
        <label for="">{{campo.label}}</label>
        
        <input 
            type="{{campo.field.widget.input_type}}" 
            name="{{campo.name}}" 
            id="{{campo.name}}"
            class="form-control"
            placeholder="Ingrese {{campo.name}}"
            value="{{ campo.value | default:'' }}"
        > 
    </div>
    <div>{{campo.errors}}</div>
{% endfor %}
<div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="javascript:history.back();" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>
</form>
{% endif %}
{% endblock %}