{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% load static %}
<!--Imágen de fondo-->
{% block background %}{% static 'mainapp/img/consultorio1.png' %}{% endblock %}

<!--Cabecera-->
{% block headers %}
    <h1>Ton Federico Dien</h1>
    <span class="subheading">Odontólogo</span>
{% endblock %}

<!--Contenido-->
{% block content %}
{% for campo in formulario %}
    <div class="form-group">
        <label for="">{{campo.label}}</label>
        
        <input 
            type="{{campo.field.widget.input_type}}" 
            name="{{campo.name}}" 
            id="{{campo.name}}"
            class="form-control"
            placeholder="Ingrese {{campo.name}}"
            value="{{ campo.value | default:'' }}"
        > 
    </div>
    <div>{{campo.errors}}</div>
{% endfor %}
<div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="javascript:history.back();" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>
{% endblock %}